{% extends 'registration/base.html' %}

{% load i18n static %}

{% block content %}
<br>
<br>
<h3 align="center">{% trans 'Password reset' %}</h3>

<p align="center">{% trans "Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one." %}</p>

<form method="post">{% csrf_token %}
<fieldset class="module aligned" style="text-align:center">
    <div class="form-row field-email" style="display:inline-block">
        {{ form.email.errors }}
        <label for="id_email">{% trans 'Email address:' %}</label>
        {{ form.email }}
    </div>
    <div>
        <hr>
    <input type="submit" value="{% trans 'Reset my password' %}" style="display:inline-block">
</div>
</fieldset>
</form>

{% endblock %}