{% extends 'registration/base.html' %}
{% load i18n static %}

{% block content %}
  

{% if validlink %}
<br>
  <h3 align="center">{% trans 'Password reset confirmation' %}</h3>
<p align="center">Please enter your new password twice so we can verify you typed it in correctly.</p>

<form method="post">{% csrf_token %}
<fieldset class="module aligned" style="text-align:center">
    <div class="form-row field-password1" style="display:inline-block">
        {{ form.new_password1.errors }}
        <label for="id_new_password1">New password:</label>
        {{ form.new_password1 }}
    </div>
    <div>
    <div class="form-row field-password2" style="display:inline-block">
        {{ form.new_password2.errors }}
        <label for="id_new_password2">Confirm password:</label>
        {{ form.new_password2 }}
    </div>
</div>
    <hr>
    <input type="submit" value="Change my password" style="display:inline-block">
</fieldset>
</form>

{% else %}
<br>
  <h3 align="center">{% trans 'Invalid reset link' %}</h3>
<p align="center">The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</p>

{% endif %}
{% endblock %}